main {
  background-color: #e7e7e7;
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 40px;
  text-align: center;
}

.description {
  text-align: center;
}

.description span {
  text-decoration: underline;
  font-weight: 600;
}

.file-loader {
  background-color:#384653;
  border-radius: 5px;
  padding: 30px 80px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.1s linear;
}

.file-loader:hover {
  background-color:#1f272e;
  transition: 0.1s linear;
}

.file-loader svg {
  width: 30px;
  height: 30px;
  fill: white;
}

.file-loader span {
  font-size: 24px;
  color: white;
  font-weight: 500;
}

.file {
  background-color: white;
  min-width: 140px;
  min-height: 170px;
  max-width: 165px;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.uploaded-file-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  display: none;
}

.uploaded-file {
  position: relative;
}


/* .uploaded-file {
  background-color: white;
  min-width: 140px;
  min-height: 170px;
  max-width: 165px;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
} */

.uploaded-file:hover {
  outline: dashed 2px #136bc2;
}

.close-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.1s linear;
}

.close-icon path {
  transition: background-color 0.1s linear;
}

.close-icon:hover path {
  stroke: #FF1515;
  transition: 0.1s linear;
}

.uploaded-file:hover .close-icon {
  opacity: 1;
  transition: 0.1s linear;
}

.file-name {
  display: block;
  padding: 4px 10px;
  font-size: 12px;
  cursor: default;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color: white;
}

.file-name:hover {
  outline: 1px solid #ddd;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.14);
  text-overflow: clip;
  max-width: 1000px;
}

.file img {
  width: 70px;
  height: 70px;
}

.uploaded-file .csv-icon {
  display: none;
}

.uploaded-file .xml-icon {
  display: none;
}

.error-message {
  color: #FF1515;
  font-size: 20px;
  display: none;
}

.error-message-show {
  display: block;
}

.generate-report {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.arrow-bottom {
  width: 70px;
  height: 70px;
}

.generate-report-button {
  background-color: #384653;
  color: white;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.08);
  border-radius: 5px;
  padding: 30px 60px;
  cursor: pointer;
  transition: background-color 0.1s linear;
}

.generate-report-button:hover {
  background-color:#1f272e;
}

.generate-report-button img {
  width: 30px;
  height: 30px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  margin-top: 50px;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  display: none;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.download-reports {
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  display: none;
}

.download-reports h2 {
  font-weight: 600;
  font-size: 30px;
}

.reports {
  display: flex;
  justify-content: center;
  gap: 40px
}

.downloaded-file {
  gap: 10px;
  cursor: pointer;
}

.downloaded-file img {
  width: 50px;
  height: 50px;
  display: none;
}

.downloaded-file:hover .downloadIcon path {
  stroke: #1f272e;
}

.downloadIcon {
  width: 40px;
  height: 40px;
}

